.isLoading{
    display: flex;
    justify-content: center;
 
    margin: 20px;
}

.spinning {
    animation: rotar 0.6s linear infinite;
}

@keyframes rotar {
    to{
        transform: rotate(360deg);
    }
}